
@font-face {
    font-family: 'Montserrat';          
    src: url('../fonts/Montserrat/Montserrat-Bold.woff2');     
    font-weight: 700;                 
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat';          
    src: url('../fonts/Montserrat/Montserrat-Medium');     
    font-weight: 500;                  
    font-style: normal;
  }
  @font-face {
    font-family: 'Montserrat';         
    src: url('../fonts/Montserrat/Montserrat-Regular.woff2');    
    font-weight: 400;                
    font-style: normal;
  }
  @font-face {
    font-family: 'Montserrat';          
    src: url('../fonts/Montserrat/Montserrat-Semi-Bold.woff2');  
    font-weight: 600;                  
    font-style: normal;
  }