// Fonts
$montserrat : 'Montserrat';

// Font Sizing
$baseFontSize: 18px;

// Colors
$primary_color: #151517;
$secondary_color: #CBFB45;
$gray_bg_color: #232325;
$stroke_color: #898990;
$white_color: #F3F3F3;
