.container {
  max-width: 1800px;
  margin: 0 auto;
  position: relative;
}

.right__container {
  max-width: 1555px;
  margin-left: auto;
  overflow: hidden;
}

.wrapper__site {
  max-width: 100vw;
}

.container--galary {
  max-width: 1200px;
  margin: 0 auto;
}